<footer class="bg-white text-black py-4 border-top btc">
    <div class="container-xl d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="mb-3 mb-md-0">
      <h5 class="fw-normal fs-2 mb-2">club central</h5>
      <div class="pt-3">
        <a href="https://www.instagram.com/" class="text-black me-2" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/" class="text-black me-2" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.x.com/" class="text-black me-2" aria-label="X"><i class="bi bi-twitter-x"></i></a>
        <a href="https://youtu.be/dQw4w9WgXcQ?feature=shared" class="text-black" aria-label="YouTube" target="_blank" rel="noopener noreferrer"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
      <div class="d-flex flex-column flex-md-row justify-content-end w-100">
        <div class="me-md-5 mb-4 mb-md-0" style="min-width: 160px;">
          <div class="mb-1">
            <a href="#" class="text-black text-decoration-none fs-5 ">Events</a>
          </div>
          <ul class="list-unstyled ms-0 mb-0">
            <li><a href="#" class="text-black text-decoration-none fs-6">company info</a></li>
            <li><a href="#" class="text-black text-decoration-none fs-6">testimonials</a></li>
          </ul>
        </div>
        <div class="me-md-5 mb-4 mb-md-0" style="min-width: 160px;">
          <div class="mb-1">
            <a href="#" class="text-black text-decoration-none fs-5 ">Players</a>
          </div>
          <ul class="list-unstyled ms-0 mb-0">
            <li><a href="#" class="text-black text-decoration-none fs-6">FAQs</a></li>
            <li><a href="#" class="text-black text-decoration-none fs-6">links</a></li>
          </ul>
        </div>
        <div style="min-width: 160px;">
          <div class="mb-1">
            <a href="#" class="text-black text-decoration-none fs-5 ">Finances</a>
          </div>
          <ul class="list-unstyled ms-0 mb-0">
            <li><a href="#" class="text-black text-decoration-none fs-6">legal</a></li>
          </ul>
        </div>
    </div>
</footer> 
